body, html {
   
    height: 100%;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#publisher {
      position: absolute;
    width: 260px;
    height: 170px;
    top: 10px;
    left: 10px;
    z-index: 100;
    border: 4px solid white;
    border-radius: 3px;
}
#publisher.video-leftshow{
	 right:  inherit;
	 left:10px;
	   width: 160px;
    height: 110px;
}
#chat{
	  width: 320px;
    background: rgba(246,246,246, 0.7);
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -5px;
	z-index:999;
	padding:15px;
	  display: none;
	   
}
.ot-bubbles{
	height:421px;
	overflow-y: auto;
}
#chat input{
    padding: 10px 15px !important;
	    width: 230px;
}
#chat button{
    padding: 10px 20px !important;
	color: #fff;
font-size: 16px;
background: #0384CE;
border:0px;

}
 .ot-bubble {
	 float: left;
	 width: 89%;
    margin-left: 15px;
 }

 .ot-bubble.mine{
	 float: right; 
    margin-right: 15px;
	margin-left:0px;
	text-align:right;
 }

.ot-bubble .ot-message-content{
	    display: inline-block;
    padding: 10px 15px;
    border-radius: 6px;
    /*width: calc(100% - 85px);*/
	width:100% ;
    min-width: 100px;
    position: relative;
	    background-color: #c7eafc;
    margin-left: 20px;
	margin:5px 0px;
}

.ot-bubble.mine .ot-message-content{
	    background-color: #ffe6cb;
    margin-right: 20px;
     
}
.ot-bubble .ot-message-content:before,.ot-bubble .ot-message-content:after {
    right: 100%;
    border-right-color: #ffe6cb;
}
.ot-bubble .ot-message-content:before {
    border-width: 15px;
    margin-top: -2px;
}
.ot-bubble .ot-message-content:before,.ot-bubble .ot-message-content:after  {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ot-bubble .ot-message-content:after {
    border-width: 13px;
    margin-top: 0px;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}